# Properties used in the application.
# Edit the values for your database.

# Location of the database. 
# For H2 this is the basename of files in the database.
jdbc.url = jdbc:h2:/home/jim/temp/h2/contacts2

# The JDBC Driver classname for your database.
# For current JDBC Drivers, your code does *not* need this.
# Class.forName(driver_class) is not needed.
# But if you really want to specify it, this is the standard property name.
jdbc.driver = org.h2.Driver 

# For an embedded database like H2 you can set user and password to space.
# For client-server database like MySQL, you do need a user and password.
# Don't use root or admin user!
jdbc.user = 
jdbc.password =

# Create tables on start-up if they don't exist?
createtables = true
